<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite name="Tests for {{ name }}">
			<directory prefix="" suffix="Test.php">./tests</directory>
		</testsuite>



	</testsuites>
</phpunit>
