<?php

use Gaad\Chameleon\AppKernel;
use Gaad\Chameleon\Traits\CHUnitTestKernel;


/**
 * @property AppKernel $app
 */
class {{ name }}SmokeTest extends WP_UnitTestCase
{
	use CHUnitTestKernel;

	public function test_a()
	{
		$this->assertTrue(true);
	}

	public function test_b()
	{
		$this->assertFalse(false);
	}

}
